<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
</head>
<body>
<h1 th:text="|Teachers|"></h1>
<table class="table table-sm table-hover table-striped table-bordered">
    <thead class="table-dark text-center">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Experience</th>
        <th>Subjects</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${teachers}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.name}"></td>
        <td th:text="${t.experience}"></td>
        <td><a th:href="@{/teacher_subjects(id=${t.id})}" class="btn btn-outline-info">subjects</a></td>
        <td><a th:href="@{/delete_teacher(id=${t.id})}" class="btn btn-outline-danger">delete</a></td>
    </tr>
    </tbody>
</table>
<form action="add_teacher" method="post">
    <input type="text" name="name">
    <input type="number" name="experience">
    <button type="submit" class="btn btn-outline-primary">Add</button>
</form>
<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>